<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">NG Fitness</a></div>
    <div class="app-links" fxHide.xs>
        <ul class="navigation-items">
            <li *ngIf="!isAuth"><a routerLink="/signup">SignUp</a></li>
            <li *ngIf="!isAuth"><a routerLink="/login">LogIn</a></li>
            <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
            <li *ngIf="isAuth"><a style="cursor: pointer" (click)="onLogout()">LogOut</a></li>
        </ul>    
    </div>
</mat-toolbar>